<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <title>Bookede vasketider</title>
</head>
<body>
<div class="container-fluid page">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1> Bookede vasketider </h1>

            <table class="table">
                <thead>
                <tr>
                    <th>VaskeID</th>
                    <th>Ugedag</th>
                    <th>Formiddagstid</th>
                    <th>Vaskeuge</th>
                    <th>LejlighedsID</th>
                </tr>
                </thead>
                <tr th:each="vasketid: ${vasketider}">
                    <td th:text="${vasketid.vaskeId}">VaskeID</td>
                    <td th:text="${vasketid.ugedag}">Uge</td>
                    <td th:text="${vasketid.erFormiddag}">Formiddagstid</td>
                    <td th:text="${vasketid.vaskeugeId}">ID</td>
                    <td th:text="${vasketid.lejlighedsId}">LejlighedsID</td>
                </tr>
            </table>

        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>