<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Arbejdsdage</title>
</head>
<body>

<div class="container-fluid">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1> Velkommen til arbedsjdage</h1>

            <span> Denne side er desværre stadig under opbygning</span>

        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>