<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Arrangementer</title>
</head>
<body>

    <div class="container-fluid">
        <header th:replace="fragments/top_menu :: top_menuElement"></header>

        <div class="d-flex">
            <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

            <main>
                <h1> Velkommen til arrangementer</h1>

                <div class="col-xs-10" style="height:30px;"></div>

                <span> <a th:href="@{genforsamForside}">Gå til generalforsamlinger </a></span>
                <br>
                <div class="col-xs-10" style="height:30px;"></div>
                <span> <a th:href="@{arbejdsdagForside}">Gå til arbejdsdage </a></span>
            </main>
        </div>
    </div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>