<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Flere oplysninger om generalforsamlingen</title>
</head>
<body>
<!--@author: Päivi -->
    <div class="container-fluid page">
        <header th:replace="fragments/top_menu :: top_menuElement"></header>

        <div class="d-flex">
            <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

            <main class="d-flex flex-column">

                <h1 class="ekstraPlads">Flere oplysninger om generalforsamlingen</h1>

                <p th:each="arran: ${arranOplysninger}">

                    <span th:text="${'Agenda: '+ arran.agenda}"></span>
                    <br>
                    <span th:text="${'Dato: '+ arran.dato}"></span>
                    <br>
                    <span th:text="${'Starttidspunkt: '+ arran.startTidspunkt}"></span>
                    <br>
                    <span th:text="${'Sluttidspunkt: '+ arran.slutTidspunkt}"></span>
                    <br>
                    <span th:text="${'Sted: '+ arran.sted}"></span>
                    <br>
                    <span th:text="${'Tilmeldingsfrist: '+ arran.tilmeldingsfrist}"></span>
                    <br>


                </p>
                <h4>Tilmeldte til generalforsamlingen</h4>
                <p th:each="tilmeldt: ${tilmeldte}">
                    <span th:text="${'Fornavn: '+ tilmeldt.fornavn}"></span>
                    <br>
                </p>


                <div class="col-xs-10" style="height:30px;"></div>
                <a th:href="@{'/genforsamForside/'}">Tilbage til generalforsamlinger </a>

            </main>
        </div>
    </div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>