<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Generalforsamlinger</title>
</head>
<body>
<div class="container container-custom">
<div th:replace="fragments/top_menu :: top_menuElement"></div>
<div th:replace="fragments/side_menu :: side_menuElement"></div>

    <div class="container">

    <div class="main">
        <main>
            <h1> Velkommen til generalforsamlinger</h1>

            <div class="col-xs-10" style="height:30px;"></div>

            <a th:href="@{oprettelseForside}">Opret en ny generalforsamling</a></span>

            <div class="col-xs-10" style="height:50px;"></div>

            <h2>Tidligere generalforsamlinger</h2>

            <div class="col-xs-10" style="height:30px;"></div>

            <p th:each="genfor: ${alleGeneralforsamlinger}">
                <b>
                <span th:text="${'Navn: '+ genfor.navn}"></span>
                </b>
                <br>
                <span th:text="${'Ordstyrer: '+ genfor.ordstyrer}"></span>
                <br>

                <!--boolean vises på html-siden som en tekst for true og en anden tekst for false-->
                <span th:if="${genfor.ordinaer}">Ordinær generalforsamling</span>
                <span th:unless="${genfor.ordinaer}">Ekstra ordinær generalforsamling</span>

                <br>
                <br>

                <a th:href="@{'/flereOplysningerSide/' + ${genfor.arrangementId}}">Flere oplysninger om denne generalforsamling </a>
                <br>
                <a th:href="@{'/sletGeneralforsamling/' + ${genfor.arrangementId}}">Slet denne generalforsamling</a>
                <br>
                <a th:href="@{'/visOpdatereGeneralforsamling/' + ${genfor.arrangementId}}">Opdatere denne generalforsamling</a>
                <br>
                <br>
                <br>
             </p>

        </main>
    </div>
</div>
</div>
</body>
</html>