<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Generalforsamlinger</title>
</head>
<body>

    <div class="container-fluid">
        <header th:replace="fragments/top_menu :: top_menuElement"></header>

        <div class="d-flex">
            <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

            <main class="d-flex flex-column">
                <h1> Velkommen til generalforsamlinger</h1>

                <p th:each="genfor: ${alleGeneralforsamlinger}">

                    <span th:text="${'Generalforsamlingens navn: '+ genfor.navn}"></span>
                    <br>
                    <span th:text="${'Generalforsamlingens emne: '+ genfor.emne}"></span>
                    <br>
                    <a th:href="@{'/flereOplysningerSide/' + ${genfor.arrangementId}}">Flere oplysninger om denne generalforsamling </a>
                    <br>
                    <a th:href="@{'/sletGeneralforsamling/' + ${genfor.arrangementId}}">Slet denne generalforsamling</a>
                    <br>
                    <a th:href="@{'/visOpdatereGeneralforsamling/' + ${genfor.arrangementId}}">Opdatere denne generalforsamling</a>
                </p>
            </main>
        </div>
    </div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>