<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Opdatering af generalfosamlinger</title>
</head>
<body>

<div class="container container-custom">
<div th:replace="fragments/top_menu :: top_menuElement"></div>
<div th:replace="fragments/side_menu :: side_menuElement"></div>

    <div class="container">
    <div class="main">
        <main>
            <h1> Opdatere generalforsamling</h1>

            <form action="#" th:action="@{/opdatereGeneralforsamling}" method="post">
                <div class="form-group col-sm-4">
                    <input type="hidden" th:field="*{generalforsamling.genforsamId}">
                    <input type="hidden" th:field="*{generalforsamling.arrangementId}">
                    Navn:<input type="text" th:field="*{generalforsamling.navn}" required="required" class="form-control">
                    <span th:if="${#fields.hasErrors('generalforsamling.navn')}" th:errors="*{generalforsamling.navn}">Fejl i navnet</span>
                </div>
                 <div class="form-group col-sm-4">
                    <input type="hidden" th:field="*{generalforsamling.oprettelsesDato}" class="form-control">
                 </div>
                <div class="form-group col-sm-4">
                    Ordstyrer: <input type="text" th:field="*{generalforsamling.ordstyrer}" required="required" class="form-control">
                    <span th:if="${#fields.hasErrors('generalforsamling.ordstyrer')}" th:errors="*{generalforsamling.ordstyrer}">Fejl i ordstyrer</span>
                </div>

                <div class="form-group col-sm-4">
                    Ordinær generalforsamling?
                    <input type="radio" name="ordinær" value="1" th:field="*{generalforsamling.ordinaer}"class="form-control">
                     Eller ekstraordinær generalforsamling?
                    <input type="radio" name="ekstraordinær" value="0" th:field="*{generalforsamling.ordinaer}"class="form-control">
                    <span th:if="${#fields.hasErrors('generalforsamling.ordinaer')}" th:errors="*{generalforsamling.ordinaer}">Fejl i ordinaer</span>

                    <input type="hidden" th:field="*{arrangementOplysninger.arranOplysId}" class="form-control">
                    <input type="hidden" th:field="*{arrangementOplysninger.arrangementId}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="Agenda">Agenda</label>
                    <textarea input th:field="*{arrangementOplysninger.agenda}" class="form-control" id="Agenda" rows="3" required="required"></textarea>
                    <span th:if="${#fields.hasErrors('arrangementOplysninger.agenda')}" th:errors="*{arrangementOplysninger.agenda}">Fejl i agenda</span>
                </div>

                <div class="form-group col-sm-4">
                    Dato for generalforsamlingen:<input type="text" th:field="*{arrangementOplysninger.dato}" required="required" class="form-control">
                    <span th:if="${#fields.hasErrors('arrangementOplysninger.dato')}" th:errors="*{arrangementOplysninger.dato}">Fejl i dato</span>
                </div>

                <div class="form-group col-sm-4">
                    Starttidspunkt:<input type="text" th:field="*{arrangementOplysninger.startTidspunkt}" class="form-control">
                    <span th:if="${#fields.hasErrors('arrangementOplysninger.startTidspunkt')}" th:errors="*{arrangementOplysninger.startTidspunkt}">Fejl i startTidspunkt</span>
                </div>

                 <div class="form-group col-sm-4">
                    Sluttidspunkt:<input type="text" th:field="*{arrangementOplysninger.slutTidspunkt}" class="form-control">
                    <span th:if="${#fields.hasErrors('arrangementOplysninger.slutTidspunkt')}" th:errors="*{arrangementOplysninger.slutTidspunkt}">Fejl i slutTidspunkt</span>
                </div>

                <div class="form-group col-sm-4">
                    Stedet:<input type="text" th:field="*{arrangementOplysninger.sted}" required="required" class="form-control">
                    <span th:if="${#fields.hasErrors('arrangementOplysninger.sted')}" th:errors="*{arrangementOplysninger.sted}">Fejl i sted</span>
                </div>

                <div class="form-group col-sm-4">
                    Tilmeldingsfrist:<input type="text" th:field="*{arrangementOplysninger.tilmeldingsfrist}" class="form-control">
                    <span th:if="${#fields.hasErrors('arrangementOplysninger.tilmeldingsfrist')}" th:errors="*{arrangementOplysninger.tilmeldingsfrist}">Fejl i tilmeldingsfrist</span>
                    <input type="hidden" th:field="*{arrangementOplysninger.sidstOpdateret}" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Opdatere</button>

                <span th:text="${bekraeftelse}">bekræftelse</span>
                <span th:text="${fejlbesked}">fejlbesked</span>

            </form>
        </main>
    </div>
</div>
</div>

</body>
</html>