<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Opret generalfosamlinger</title>
</head>
<body>

<div class="container container-custom">
    <div th:replace="fragments/top_menu :: top_menuElement"></div>
    <div th:replace="fragments/side_menu :: side_menuElement"></div>

    <div class="container">
        <div class="main">
            <main>
                <h1>Opret generalforsamling</h1>

                <form action="#" th:action="@{/dataTilGeneralforsamling}" method="post">

                    <div class="form-group">
                        <input type="text" th:field="*{generalforsamling.navn}" class="form-control" placeholder="Indtast generalforsamlingens navn">
                        <span th:if="${#fields.hasErrors('generalforsamling.navn')}" th:errors="*{generalforsamling.navn}">Fejl i navnet</span>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{generalforsamling.ordstyrer}" class="form-control" placeholder="Hvem er ordstyrer?">
                        <span th:if="${#fields.hasErrors('generalforsamling.ordstyrer')}" th:errors="*{generalforsamling.ordstyrer}">Fejl i emne</span>
                    </div>

                    <button type="submit" class="btn btn-primary">Fortsæt til de næste oplysninger</button>

                    <span th:text="${fejlbesked}">fejlbesked</span>
                </form>
            </main>
        </div>
    </div>
</div>

</body>
</html>