<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Tilføj slutbruger til generalforsamling</title>
</head>
<body>
<!--@author: Päivi -->
<div class="container-fluid page">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">

            <h1 class="ekstraPlads">Tilføj slutbruger til generalforsamling</h1>

            <h2 class="ekstraPlads">Find deltager</h2>

            <form action="#" th:action="@{/soegSlutbrugere}" method="post">
                <div class="form-group col-sm-10 flugter">
                <input type="text" name="fornavn" placeholder="Hvad er fornavnet?">

                </div>
                <input type="text" name="efternavn" placeholder="Hvad er efternavnet?">
                <input type="hidden" th:field="*{generalforsamling.arrangementId}">

                <div class="form-group col-sm-10 flugter">
                </div>
                <button type="submit" class="btn btn-primary knapFarve">Søg deltager</button>
            </form>

            <br>
            <p th:each="slutbruger :${deltager}">
                <span th:text="${'Fornavnet er: '+ slutbruger.fornavn}"></span>
                <br>
                <span th:text="${'Efternavnet er: ' + slutbruger.efternavn}"></span>
            </p>
            <b>
            <span th:text="${fejlbesked}">fejlbesked</span>
            <span th:text="${bekraeftelse}">bekræftelse</span>
            <span th:text="${fejl}">fejl</span>
            </b>
            </main>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>