<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <meta charset="UTF-8">
    <title>Tilføj slurbruger til generalforsamling igen</title>
</head>
<body>

<div class="container-fluid">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main>
            <h1>Tilføj slutbruger til generalforsamling</h1>

            <!--ekstra plads mellem overskriften og teksten-->
            <div class="col-xs-10" style="height:30px;"></div>

            <h2>Find deltager</h2>
            <div class="col-xs-10" style="height:30px;"></div>

            <h6>Der var to med det samme fornavn og efternavn; søg igen:</h6>

            <form action="#" th:action="@{/soegSlutbrugereIgen}" method="post">
                <input type="text" name="fornavn" placeholder="Hvad er fornavnet?" required="required" class="form-control" col-sm-4>
                <br>
                <input type="text" name="mellemnavn" placeholder="Hvad er mellemnavnet?" required="required" class="form-control" col-sm-4>
                <br>
                <input type="text" name="efternavn" placeholder="Hvad er efternavnet?" required="required" class="form-control" col-sm-4>
                <input type="hidden" th:field="*{generalforsamling.arrangementId}" class="form-control" col-sm-4>
                <br>
                <button type="submit" class="btn btn-primary">Søg deltager</button>
            </form>

            <br>
            <p th:each="slutbruger :${deltager}">
                <span th:text="${'Fornavnet er: '+ slutbruger.fornavn}"></span>
                <br>
                <span th:text="${'Efternavnet er: ' + slutbruger.efternavn}"></span>
            </p>
            <span th:text="${fejlbesked}">fejlbesked</span>
            <span th:text="${fejl}">fejl</span>
            <span th:text="${bekraeftelse}">bekræftelse</span>

            <span th:text="${Tosamme}">To med samme navn</span>

        </main>
    </div>
</div>
</div>

</body>
</html>