<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <title>Slet lejlighed</title>
</head>
<body>

    <div class="container-fluid page">
        <header th:replace="fragments/top_menu :: top_menuElement"></header>

        <div class="d-flex">
            <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

            <main class="d-flex flex-column">
                <h1>Slet lejlighed </h1>

                    <form method="post" action="/lejlighed/sletLejlighed/" modelAttribute="lejlighed">
                        <br>Indtast ID <input type="number" name="lejlighedsid" min="0" max="100" required>
                        <br><button type="submit" class="btn btn-primary">Slet lejlighed</button>
                    </form>
            </main>
        </div>
    </div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>