<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->
    <title>Slet lejlighed</title>
</head>
<body>

<div class="container-fluid">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">

            <a href="/lejlighed/form_opret_lejlighed">Opret en lejlighed</a>
            <br>
            <a href="/lejlighed/oversigt">Se lejligheder</a>
            <br>
            <a href="/lejlighed/form_opdaterLejlighed">Opdater en lejlighed</a>
            <br>
            <a href="/lejlighed/form_sletLejlighed">Slet en lejlighed</a>

        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
