<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/31451830/head-and-title-in-thymeleaf-->
    <!-- Kilde: https://www.youtube.com/watch?v=i_L-xr9mcwU-->

    <!-- Required meta tags (do always come first in the head, and other head's comes after these 2)
    but do not support Microsoft Internet Explore under 10
    https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
</body>
</html>
