<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- https://getbootstrap.com/docs/4.0/components/navs/ -->
<head>
</head>
<body>
    <div id="sidebar" th:fragment="side_menuElement">
        <aside>
            <link th:href="@{/css/sidebar.css}" rel="stylesheet"/>
            <!-- Side navigation -->

            <nav class="nav flex-column">
                <a class="nav-link active" href="/form_opret_lejlighed">Opret lejlighed</a>
                <a class="nav-link" href="/arrangementer">Arrangementer</a>
                <a class="nav-link" href="/slutbruger/oversigt">Oversigt over slutbruger</a>
                <a class="nav-link disabled" href="#">Disabled</a>
            </nav>

        </aside>
    </div>




</body>
</html>

