<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- https://getbootstrap.com/docs/4.0/components/navs/ -->
<head>
</head>
<body>
    <aside  th:fragment="side_menuElement">
        <!-- Side navigation -->
        <div class="sidebar-sticky">
            <div class="col-sm-2">
            <nav class="nav nav-tabs flex-column">
                <span class="border-right">
                    <a class="nav-link" href="/lejlighed">Lejlighed</a>
                    <a class="nav-link" href="/vasketider">Vasketider</a>
                    <a class="nav-link" href="/arrangementer">Arrangementer</a>
                    <a class="nav-link" href="/slutbruger/oversigt">Oversigt over slutbruger</a>
                    <a class="nav-link" href="/opgave/oversigt">Oversigt over opgaver</a>
                </span>
            </nav>
            </div>
        </div>
    </aside>

</body>
</html>

