<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<!-- Kilde: https://www.youtube.com/watch?v=aiAf5eO5nx8-->

    <div th:fragment="top_menuElement">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- / viser tilbage til forside. Getmetoden til kan ses i StartController -->
                        <a class="nav-link" href="/">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/om_ejerforening">Om ejerforeningen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hjaelp">Hjælp</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Ejerforeningen Mathildevej 20
                </span>
            </div>
        </nav>
    </div>

</body>
</html>



