<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body th:fragment="top_menuElement">
<!-- Kilde: https://www.youtube.com/watch?v=aiAf5eO5nx8-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            <!-- / viser tilbage til forside. Getmetoden til kan ses i StartController -->
            <!-- https://getbootstrap.com/docs/4.0/components/navs/-->
            <a class="nav-item active nav-link" href="/">Hjem</a>
            <a class="nav-item active nav-link" href="/slutbrugerforside">Profil</a>
            <a class="nav-item active nav-link" href="/om_ejerforening">Om ejerforeningen</a>
            <a class="nav-item active nav-link" href="/hjaelp">Hjælp</a>
        </div>
    </nav>

</body>
</html>



