<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->

    <title>Muligheder for slutbruger</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1>Detaljer for den valgte opgave</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>