<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->

    <title>Detaljer for den valgte opgave</title>
</head>
<body>
<div class="container-fluid page">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1 class="ekstraPlads">Detaljer for den valgte opgave</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Navn</th>
                        <th scope="col">Dato for oprettelse</th>
                        <th scope="col">Beskrivelse</th>
                        <th scope="col">Varighed</th>
                        <th scope="col">Sværhedsgrad</th>
                        <th scope="col">StartDato</th>
                        <th scope="col">SlutDato</th>
                        <th scope="col">Sidst opdateret</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="opgaveOplysninger: ${opgaveOplysninger}">
                        <td th:text="${opgaveOplysninger.navn}"></td>
                        <td th:text="${opgaveOplysninger.oprettelsesDato}"></td>
                        <td th:text="${opgaveOplysninger.beskrivelse}"></td>
                        <td th:text="${opgaveOplysninger.varighed}"></td>
                        <td th:text="${opgaveOplysninger.svaerhedsgrad}"></td>
                        <td th:text="${opgaveOplysninger.startDato}"></td>
                        <td th:text="${opgaveOplysninger.slutDato}"></td>
                        <td th:text="${opgaveOplysninger.sidstOpdateret}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-4 col-lg-2">
            <a class="btn btn-primary knapFarve" th:href="@{/opgave/oversigt}" role="button">Tilbage</a>
            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>