<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->

    <title>Muligheder for slutbruger</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1>Opdater opgave</h1>

            <form action="#" th:action="@{/validere}" method="post">
                <div class="form-group">
                    <input type="hidden" th:field="*{opdater.opgaveId}">
                    <input type="hidden" th:field="*{opdater.opgaveOplysningerId}">

                    Navn: <input type="text" th:field="*{opdater.navn}" class="form-control" required="required" placeholder="Hvad er opgavens navn?">
                    <span th:if="${#fields.hasErrors('opdater.navn')}" th:errors="*{opdater.navn}">Fejl i navnet</span>
                </div>
                <div class="form-group">
                    LejlighedsId: <input type="text" th:field="*{opdater.lejlighedsId}" class="form-control" placeholder="Hvilken er lejlighed skal have opgaven?">
                    <span th:if="${#fields.hasErrors('opdater.lejlighedsId')}" th:errors="*{opdater.lejlighedsId}">Fejl i lejligheds id</span>
                </div>
                <div class="form-group">
                    <label for="Beskrivelse">Beskrivelse: </label>
                    <textarea input type="text" th:field="*{opdater.beskrivelse}" class="form-control" id="Beskrivelse" required="required" placeholder="Hvad er beskrivelsen på opgaven?"></textarea>
                    <span th:if="${#fields.hasErrors('opdater.beskrivelse')}" th:errors="*{opdater.beskrivelse}">Fejl i beskrivelse></span>
                </div>
                <div class="form-group">
                    Varighed: <input type="text" th:field="*{opdater.varighed}" class="form-control" required="required" placeholder="Hvor lang tid tager det?">
                    <span th:if="${#fields.hasErrors('opdater.varighed')}" th:errors="*{opdater.varighed}">Fejl i varighed</span>
                </div>
                <div class="form-group">
                    Sværhedsgrad: <input type="text" th:field="*{opdater.svaerhedsgrad}" class="form-control" required="required" placeholder="Hvad er sværhedsgraden på opgaven?">
                    <span th:if="${#fields.hasErrors('opdater.svaerhedsgrad')}" th:errors="*{opdater.svaerhedsgrad}">Fejl i sværhedsgrad</span>
                </div>
                <div class="form-group">
                    Startdato: <input type="text" th:field="*{opdater.startDato}" class="form-control" required="required" placeholder="Hvad er startdatoen opgaven?">
                    <span th:if="${#fields.hasErrors('opdater.startDato')}" th:errors="*{opdater.startDato}">Fejl i start dato</span>
                </div>
                <div class="form-group">
                    Slutdato: <input type="text" th:field="*{opdater.slutDato}" class="form-control" required="required" placeholder="Hvad er slutdatoen for opgaven?">
                    <span th:if="${#fields.hasErrors('opdater.slutDato')}" th:errors="*{opdater.slutDato}">Fejl i slut dato</span>
                </div>


                <button type="submit" class="btn btn-primary">Opdater</button>

                <span th:text="${bekraeftelse}">Bekræftelse</span>
                <span th:text="${fejlbesked}">Fejlbesked</span>
            </form>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>