<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->

    <title>Opret slutbruger</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1>Opret slutbruger</h1>


            <form action="#" th:action="@{/opgave/opretOpgaveIndhold}" th:object="${form}" method="post">

                    <div class="form-group">

                        <input type="text" th:field="*{opgave.navn}" class="form-control">
                        <span th:if="${#fields.hasErrors('opgave.navn')}" th:errors="*{opgave.navn}">Fejl i navnet</span>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{opgave.oprettelsesDato}" class="form-control">
                        <span th:if="${#fields.hasErrors('opgave.oprettelsesDato')}" th:errors="*{opgave.oprettelsesDato}">Fejl i oprettelses dato</span>
                    </div>

                    <button type="submit" class="btn btn-primary">Opdater</button>

                    <span th:text="${bekraeftelse}">Bekræftelse</span>
                    <span th:text="${fejlbesked}">Fejlbesked</span>
                </form>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>