<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->

    <title>Muligheder for slutbruger</title>
</head>
<body>
<div th:replace="fragments/top_menu :: top_menuElement"></div>

<div th:replace="fragments/side_menu :: side_menuElement"></div>

<div class="container">
    <div class="main"> <!--Skal pege på hvor "main" er på hjemmesiden, da css og html ellers ikke er enige om centeringen -->
        <main>
            <h1>Tut tut</h1>
            <table>
                <tr>
                    <th>Navn</th>
                    <th>OpgaveId</th>
                    <th>LejlighedsId</th>
                </tr>
                <tr th:each="opgaveoversigt: ${opgaveoversigt}">
                    <td th:text="${opgaveoversigt.navn}">Navn</td>
                    <td th:text="${opgaveoversigt.opgaveId}">OpgaveId</td>
                    <td th:text="${opgaveoversigt.lejlighedsId}">LLejlighedsId</td>
                </tr>
            </table>
        </main>
    </div>
</div>



<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>