<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: headerElement">
    <!-- placeret her fordi: https://stackoverflow.com/questions/36663038/spring-thymeleaf-header-and-footer-dynamic-includes-->

    <title>Oversigt over opgave</title>
</head>
<body>

<div class="container-fluid page">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <div class="d-flex">
        <aside th:replace="fragments/side_menu :: side_menuElement"></aside>

        <main class="d-flex flex-column">
            <h1 class="ekstraPlads">Oversigt over opgave</h1>
            <a class="btn btn-primary knapFarve" th:href="@{/opgave/opret}" role="button">Opret opgave</a>

            <div class="row">
                <div class="col-sm-4">
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>OpgaveId</th>
                        <th>LejlighedsId</th>
                    </tr>
                </thead>
                <tbody>

                <tr th:each="opgaveOversigt: ${opgaveOversigt}">
                    <td th:text="${opgaveOversigt.navn}">Navn</td>
                    <td th:text="${opgaveOversigt.opgaveId}">OpgaveId</td>
                    <td th:text="${opgaveOversigt.lejlighedsId}">LejlighedsId</td>
                    <td>
                        <a class="btn btn-primary knapFarve" th:href="@{'/opgave/detaljer/' + ${opgaveOversigt.opgaveId}}" role="button">Flere detaljer</a>
                        <a class="btn btn-primary knapFarve" th:href="@{'/opgave/slet/' + ${opgaveOversigt.opgaveId}}" role="button">Slet opgave</a>
                        <a class="btn btn-primary knapFarve" th:href="@{'/opgave/opdater/' + ${opgaveOversigt.opgaveId}}" role="button">Opdater</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer :: footerElement"></footer>

</body>
</html>