<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Lejlighed</title>
</head>
<body>
<h1> Opret lejlighed </h1>

<form method="post" action="/opret_lejlighed" modelAttribute="lejlighed">
    <br>Hvilken etage <input type="number" name="etage" min="0" max="5"> </br>
    <br>Ligger lejligheden til højre    <input type="radio" name="lejlighedsside" value="højre">
    <br>Ligger lejligheden til venstre  <input type="radio" name="lejlighedsside" value="venstre">
    <br><input type="submit" value="Opret lejlighed" >
</form>
</body>
